@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Our Store</h1>
    <h4>Come see what we have!</h4>
    
    <form action="Bikes/Index" method="post">
        <input style="border-color:black; background-color:darkgrey; color:black; " type="submit" value="Enter" />
    </form>
    
 
</div>
