@model IEnumerable<Big_Bike_Store.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, item.Name.Substring(0, item.Name.IndexOf(" ")))
            </td>
        </tr>
}
    </tbody>
</table>
