
@model IEnumerable<Big_Bike_Store.Models.BikeList>
@{
    ViewData["Title"] = "Road Bikes";
}

<h1>Road Bike Model List</h1>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item.ProductModel, "Details", new { id = item.ProductModelId })
        <p>@item.Description</p>
    </div>
}

