@model ContactUsForm.Models.Form

@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>

<h4>Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <select asp-for="Topic" class="form-control">
                    <option value="" selected="selected">
                        Select topic
                    </option>
                    <option value="My Order">
                        My order
                    </option>
                    <option value="Product Questions">
                        Product questions
                    </option>
                    <option value="Customer Service & Feedback">
                        Customer service and feedback
                    </option>
                    <option value="Technical Questions, Specifications, Geometry, Sizing, & Historical Information">
                        Technical questions, specifications, geometry, sizing and historical information
                    </option>
                    <option value="Warranty">
                        Warranty
                    </option>
                    <option value="Registration">
                        Registration
                    </option>
                    <option value="Catalog Request">
                        Catalogue requests
                    </option>
                    <option value="Owner's Manuals">
                        Owner's manuals
                    </option>
                    <option value="Media Inquiries">
                        Media enquiries
                    </option>
                    <option value="Sponsorship & Donation">
                        Sponsorship and donations
                    </option>
                </select>
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions" class="control-label"></label>
                <textarea asp-for="Questions" class="form-control"></textarea>
                <span asp-validation-for="Questions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
