
@{
    ViewData["Title"] = "About Us";
}

<h1>AboutUs</h1>
<img src="~/Image/AboutUs.jpg" />
<h4></br>OUR VALUES</h4>
<h5>We promise:</h5>
<ul>
    <li>To make the most out of our knowledge</li>
    <li>To deliver a bike made for you and only you</li>
    <li>To satisfy your needs first</li>
    <li>Give a service no less than perfect</li>
</ul>
<h4></br>OUR HISTORY</h4>
<h6>What happens when you put 4 students from JAC together to make a website? THIS!</h6>
<h4></br>REAL PROFESSIONALS </h4>
<h6>We know nothing about bikes and we don't have our diploma yet. We are not even getting paid for this job.</h6>

