
@{
    ViewData["Title"] = "Careers";
}

<h1>Careers</h1>
<h2>Join the race</h2>
<img src="~/Image/HeroImage.jpg" />
<h4></br>Technician: 40$/h</h4>
<h5>Job Description: Check and repair bikes</h5>
<h4></br>Accountant: 200$/h</h4>
<h5>Job Description: Doing the things that nobody wants to do</h5>

