
@{
    ViewData["Title"] = "Contact Us";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 600px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h1 class="display-4">Contact Us</h1>
    <!--The div element for the map -->
    <h3>Zoom in to see our true self</h3>
    <div class="badge-dark container-fluid text-left rounded p-3">
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var store = { lat: -23.468832, lng: 122.789864 };
            // The map, centered at the store
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 7, center: store });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: store, map: map });
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAle3fv36i74A5ySDGzC8OtMALHMoYQln0&callback=initMap">
    </script>
    </div>
    <br />
    <div class="text-center">
        <div class="badge-dark container-fluid text-left rounded p-3">
            <h3>
                Here at CoolBixes, we are dedicated to providing you with the best possible support. So if anything comes up, please make sure
                To contact us ASAP.
            </h3>

            <h3>Thank you for your patronige</h3>
        </div>
        <br />

        <div class="badge-dark container-fluid text-left rounded p-3">
            <h3>
                The following information is our location and hours, as well as our email and phone number,
                please contact either the email or the phone number if anything comes up.
            </h3>
            <br />
            <h3><b>Email:</b> CoolBixes420@gmail.com </h3>
            <h3><b>Address:</b> P-327, John Abbott College, Saint Anne-de-Bellevue </h3>
            <h3><b>Phone Number:</b> 514-666-9669 </h3>
            <h3><b>Opening Hours:</b> 8:30am - 8:30pm</h3>
        </div>

        <br />

    </div>

</body>
</html>