
@{
    ViewData["Title"] = "CyclingSafety";
}

<html>

<body>

    <h1>Cycling Safety</h1><br />

    <div id="introduction" style="background-color:gray;">
        <h2>Introduction To Cycling Safty</h2>
        <p>Cycling safety is the use of road traffic safety practices to reduce risk associated with cycling. Risk can be defined as the number of incidents occurring during cycling a certain distance. In many countries both the number of incidents and the cycling distance in kilometers are not well known.</p>
        <img src="~/Image/safetyIntro.jpg" height="500" width="750" />
    </div><br /><br />

    <div id="tips" style="background-color:gray;">
        <h2>Here Are Some Tips To Take In While Cycling</h2>

        <h3>Always Prep Your bicycle Before you Ride</h3>
        <p>Always keep your brakes and chain in good working order and your tires well-inflated. Adjust seat height for an efficient and pain-free ride, when seated, your leg should be almost straight, with your foot flat on lower pedal (we have services at location, were we can teach you this for FREE). Give it a test ride before heading out.</p>
        <img src="~/Image/safetyCheck.jpg" height="500" width="750" /><br /><br />

        <h3>Make Sure You Have Legal Equipment</h3>
        <p>Use a bell to communicate with other road users and a back reflector. Helmets are required by law, don't forget at night you should wear bright colors and in Quebec it is illegal to cycle on the sidewalk.</p>
        <img src="~/Image/safetyBell.jpg" height="500" width="750" /><br /><br />

        <h3>Make Yourself Visible - Lights</h3>
        <p>Use lights, for back read and for front white and wear reflective clothing, including those that can be seen from the side. Use a light on your helmet that will points wherever you're looking. During low-light or dark conditions in the fall & winter, keep your lights on during the daytime.</p>
        <img src="~/Image/safetyLight.png" height="500" width="750" /><br /><br />

        <h3>Carefully Ride and be Distraction Free</h3>
        <p>Ride in a straight line (don't be unpredictable) and in your movements having effective positioning will help you be seen on the road. Don’t use mobile devices or headphones while cycling, stay distraction-free, if you want to listen to music use just one earbud so you can communicate with other road users.</p>
        <img src="~/Image/safetyPhone.jpg" height="500" width="750" /><br /><br />

        <h3>Communicate</h3>
        <p>Always use hand signals when turning as shown below, slowing down or stopping, before passing other road users, shoulder check and use your bell, or your voice.</p>
        <img src="~/Image/safetySigns.jpeg" height="500" width="750" /><br /><br />

        <h3>Respect the Road Laws</h3>
        <p>Bikes are allowed on any road, except portions of many highways unless otherwise (shown with a sign). Bicycles have similar road laws to motor vehicles, and must also obey traffic signals, signs and right-of-way rules.</p>
        <img src="~/Image/safetyLaws.png" height="500" width="750" /><br /><br />

        <h3>When Passing</h3>
        <p>Unless you are in a solid or separated bike lane, you may only pass another road vehicle on the left.</p>

        <h3>Yield To Pedestrians</h3>
        <p>Slow down in pedestrian areas, and yield to them and walk your bike on sidewalks.</p>
        <img src="~/Image/safetyYield.jpg" height="500" width="750" /><br /><br />

        <h3>Sharing The Road</h3>
        <p>On mixed used paths, stick to 15km/h or less and respect pedestrians. Be aware of your speed and surroundings at all times, and slow down in advance of crossings.</p>
        <img src="~/Image/safetyShare.jpg" height="500" width="750" /><br /><br />

        <h3>Know The Road And Plan Your Route</h3>
        <p>When cycling to a new destination or a new route, use an cycling map to plan before you ride. Determine the best route for your ability and experience (reminder: Googel is your friend).</p>
        <img src="~/Image/safetyPlan.jpg" height="500" width="750" />

    </div><br /><br />

    <div id="regulations" style="background-color:gray;">
        <h2>Regulations For Cycling In Quebec</h2>
        <p>Before getting your new or old bicycle, there are a few things you should know about the laws in Quebec.</p>
        <p>
            In Quebec it is illegal to wear headphones or earphones while cycling so that you are aware of your surroundings,
            a fine can be $30 to $60 for wearing them. You are not allowed to carry a passenger while riding a bike unless the bike
            is designed for it, a fine can be $15 to $30. Riding on sidewalks is illegal unless you are walking side by side to the
            bicycle holding it, for the safety of pedastrians on sidewalks, a fine can be $37. When cycling group, cyclists must ride
            ride in a straight line on the right of the road and the fourp must not exceed 15, a fine can be $15 to $30. It is illegal
            to ride between two lanes of moving traffic, cyclists must always be on the far right, a fine can be $37. Cyclists must have
            a funtional and effective braking system, if not, a fine can be $15 to $30. It is illegal to ride against traffic, in doing so
            can result in a fine of $15 to $30. it is illegal to to be under the influence of alcohol while riding a bike to protect both
            themselves and others on the road, a fine can be $15 to $30. To keep young ones safe, it is illegal for kids under 12 to ride
            on a road with a speed limit that exceeds 50 km/h, Adults will earn demerit points or pay a fine. It is illegal to ride a bicycle
            with no hands, a fine can be $15 to $30. When Rideing your bicycle it is very important to signal where you are going, failing to
            do so can result in a fine of $15 to $30.
        </p>
        <p>With hearing about all the information about cycling safety and regulations, I hope you listen an and stay safe on our cool bikes</p>
        <img src="~/Image/regulations.jpg" />
    </div>

</body>

</html>