
@{
    ViewData["Title"] = "Return";
}

<h1>OUR POLICY</h1>

        CoolBixes will gladly exchange or refund items within 30 days of purchase with an original receipt. Items must be unused.

        All returned merchandise will be refunded in the original form of payment.

        To protect our customers from fraudulent activity, CoolBixes reserves the right to request valid photo ID for the purposes of validating customer information when processing a return or exchange. For more information, please contact CoolBixes Customer Service at 1-888-cool-bix, or email customer_service@coolbixes.com.

<br>
<h3>FINAL SALE MERCHANDISE</h3>

        No refunds, credits or exchanges on the following:

        Any items ending in $0.87 or $0.98

        Any sale item included in an additional percentage off promotion

        Personalized or custom orders, limited edition items

<br>
<h3>RETURN TO STORE</h3>

        Returns must be made at Our Store location at 21 275 Rue Lakeshore Road, Sainte-Anne-de-Bellevue, QC H9X 3L9.
<br>
<h3>CREDIT CARD, PAYPAL & INTERAC ONLINE REFUNDS</h3>

    For refunds or price adjustments, we only credit the original account used to make the original purchase. Please allow up to two billing cycles for your credit to appear on your statement.
    For purchases through PayPal, if:

    PayPal balance or bank account was used, the amount will immediately be refunded back to your PayPal account.

    Credit card was used, the refund will immediately be sent to the credit card company for processing. Generally, this can take 1-7 days depending on the credit card company. Please allow up to two billing cycles for your credit to appear on your statement.

<br>
<h3>PRICE ADJUSTMENTS</h3>

    CoolBixes.com offers a one time only price adjustment on items purchased at REGULAR price within 7 days of invoice with your original invoice. Please include a note indicating the item and its new price.


